@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::after,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
body::-moz-selection {
  color: none;
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
/* //Check box  */



.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: theme("colors.gray.100");
  }
  100% {
    background-color: theme("colors.gray.200");
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.accent.500");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.accent.700");
}
